.header{
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  text-align: left;
  display: block;
  margin: auto;
  background: linear-gradient(rgb(75, 66, 245), white);
  font-size: 40px;
  width: 100%;
  border: 2px solid black;
}
.sub_header{
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  display: inline-block;
  float: right;
}
.centerText{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* color: rgb(158, 155, 155); */
  font-size: 20px;
}
.channel_container{
  border: grey solid 2px;
  padding: 50px;
  border-radius: 10px;
}
.existing_channel_container{
  border: green solid 1px;
  border-radius: 10px;
  width: 50%;
   margin: auto;
}
